ipykernel
nbstripout

dacite
pydantic

pandas
plotly
openpyxl

salabim
greenlet

sphinx<7.2.5  # See https://github.com/sphinx-doc/sphinx/issues/11662
sphinx_rtd_theme
sphobjinv
sphinxcontrib-kroki

flask
flask-cors
rq

pylint
pycodestyle
